/* STYLES-GLOBAL */

:root {
  --container-padding: 2rem 7rem;
  --color-1: #495e57;
  --color-2: #f4ce14;
  --container-radius: 25px;
}
@media (max-width: 720px) {
  :root {
    --container-padding: 2rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: normal;
}

span {
  font-size: 16px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

/* STYLES-HEADER */
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding);
}

nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav .mobile-menu-container {
  display: none;
  gap: 1rem;
}

nav a {
  font-weight: bold;
}

@media (max-width: 720px) {
  nav ul {
    display: none;
    gap: 1rem;
  }

  nav .mobile-menu-container {
    display: flex;
    gap: 1rem;
  }
}

/* STYLES-FOOTER */
footer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: var(--container-padding);
  gap: 4rem;
}
@media (max-width: 720px) {
  footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: var(--container-padding);
  }
}
